html {
	background-position: relative;
}

p {
	color: white;
}

input {
	color: hotpink;
	border-style: none;
	background-color:rgba(0,0,0,0.3);
}

textarea {
	color: hotpink;
	border-style: none;
	background-color:rgba(0,0,0,0.3);
}

select {
	color: white;
	border-style: none;
	background-color:rgba(0,0,0,0.4);
}

div {
    color: white;
}

h1 {
    font-size: 3em;
    text-shadow: 3px 3px hotpink;
    color: pink;
    font-weight: bold;
}

h2 {
    color: hotpink;
}

footer {
    color: white;
    text-shadow: 2px 2px black;
    background-color:rgba(0,0,0,0.4);
}

body {
    font-family: serif;
}